#myname{
    background-color: rgb(43,79,34);
    color: white;
}

#phnum {
    background-color: rgb(5, 95, 95);
    color: rgb(255, 215, 223);
}
legend {
    color: rgb(25, 2, 68);
}
fieldset {
    background-color: palevioletred;
    border: 2px dashed blue;
}
body {
    background-color: burlywood;
    /* background-image: url("../pink\ flower.jpg");
    background-size:contain;
    background-repeat: no-repeat; */
    /* background-repeat: no-repeat; */
    
}