*{
    font-size: 16px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',Verdana, sans-serif;
   
}

:root{
    --bg-color: #fffefe;
    --btn-color: #04aa6d;
    --div-color: #097a51;
    --text-color: rgb(203, 218, 211);

}


