*{
    padding: 0px;
    margin: 0px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --black: rgb(44, 43, 43);
    --purple: rgb(97, 47, 177);
    --grey: rgb(111, 109, 109);
}

.text{
    color: var(--grey);
    }


